<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appuse">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="News App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppUse">
        <activity
            android:name=".MapsActivity"
            android:exported="true"
            android:label="Location Selecter">

        </activity>
        <activity
            android:name=".Search"
            android:exported="true"
            android:label="Search page" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".SourcePageActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".HeadlinesActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".SelectedSourceActivity"
            android:exported="true">

        </activity>

        <!--
    Normally the "AIza..." key would be part of local.properties or a Strings.xml file, as
             the instructions state. Hardcoding it in this file is an easy way for me to share the key
             with everyone to make the lecture app accessible to the class.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB0HJ3clZFKSN7_pyM4Ziw6kTyTYa1fFaw" />
    </application>

</manifest>